img{
  opacity: .5;
}
body  {
  background-size: cover;
}

#border {
  width: 800px;
  height: 430px;
  padding: 20px;
  border: 10px solid gray;
  margin: 0;
  float: right;
}

#dynamic-text{
  font-size: 20;
}



.background {
  fill: none;
  pointer-events: all;
  float: right;
/*  //width: 1800px;*/
}

.feature {
  fill: #D3D3D3;
  cursor: pointer;
  stroke: #A9A9A9 ;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}

.feature.active {
  fill: #0074D9;
}
