.plot {
  fill: #fff;
}

.axis path,
.axis line {
  fill: none;
  stroke: #afbabf;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 14px;
  fill: #afbabf;
}

.x.axis path {
  display: none;
}

.y.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.hed {
  font-size: 24pt;
  margin-bottom: 5px;
  margin-top: 0px;
}

.menuchoice {
  font-size: 16pt;
  margin-bottom: 0px;
  fill: #231f20;
}
.legend {
  font-size: 10pt;
  margin-bottom: 0px;
  fill: #231f20;
}
.legend-off {
  font-size: 10pt;
  margin-bottom: 0px;
  fill: #231f20;
}
.legend-select {
  font-size: 10pt;
  margin-bottom: 0px;
  fill: #231f20;
}
